<footer class="text-center text-lg-start bg-dark text-white">
  <!-- Social Media Section -->
  <section class="container d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
      <a href="#" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
      <a href="#" class="me-4 text-reset"><i class="fa fa-google"></i></a>
      <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
      <a href="#" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="me-4 text-reset"><i class="fa fa-github"></i></a>
    </div>
  </section>

  <!-- Footer Links Section -->
  <section>
    <div class="container text-center text-md-start mt-2">
      <div class="row mt-3">
        <!-- Brand -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fa fa-cart-plus me-2"></i>GreenCart
          </h6>
          <p>
            GreenCart is your eco-friendly marketplace promoting sustainable and organic products for a better tomorrow.
          </p>
        </div>

        <!-- Products -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p><a href="{% url 'collections' 'Organic Food' %}" class="text-reset">Organic Food</a></p>
          <p><a href="{% url 'collections' 'Eco wear'%}" class="text-reset">Eco Wear</a></p>
          <p><a href="{% url 'collections' 'Sustainable Fashion'%}" class="text-reset">Sustainable Fashion</a><p>
          <p><a href="{% url 'home' %}" class="text-reset">All Products</a></p>
        </div>

        <!-- Useful Links -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Useful Links</h6>
          <p><a href="#!" class="text-reset">Your Account</a></p>
          <p><a href="#!" class="text-reset">Become an Affiliate</a></p>
          <p><a href="#!" class="text-reset">Shipping Info</a></p>
          <p><a href="#!" class="text-reset">Help</a></p>
        </div>

        <!-- Contact -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fa fa-home me-2"></i>Sathiya, India</p>
          <p><i class="fa fa-envelope me-2"></i>info@example.com</p>
          <p><i class="fa fa-phone me-2"></i>+91 98765 54335</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4 bg-secondary">
    &copy; 2025 Copyright:
    <a class="text-reset fw-bold" href="#">sathiya.in</a>
  </div>
</footer>
