{% extends 'shop/layout/main.html' %}
{% block title %}
GreenCart | Awesome Products
{% endblock title %}
{% block content %}
<section class=" bg-light my-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                  <h4 class="mb-4">{{category_name}} Product</h4>
                <hr style="border-color: beige;">
                <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active">{{category_name}} Collections</li>
               </ol>
             </nav>
             {% include 'shop/inc/message.html' %}
            </div>
            {% for item in products %}
            <div class="col-md-3 col-md-3">
                <div class="card my-3" style="width: 18rem;">
                    <img class="img1" src="{{item.product_image.url}}" class="card-image-top" alt="Categories">
                    <a href="{% url 'product_details' category_name item.name %}">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{item.name}}</h5>
                         <div class="mb-2 text-warning" style="font-size: 0.9rem;">
                                {% with avg=item.avg_rating %}
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= avg %}
                                            ★
                                        {% else %}
                                            ☆
                                        {% endif %}
                                    {% endfor %}
                                    <span class="text-muted">({{ avg|default:"0.0" }}/5)</span>
                                {% endwith %}
                            </div>
                        <p class="card-text"><span class="float-start old_price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span>
                            <span class="float-end new_price">Rs.{{item.selling_price | stringformat:'d'}}</span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            </div>
            </div>
    </section>
{% endblock content %}